form{
    background-color: #dddddd;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 3%;
}

form div {
    margin-bottom: 15px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}

.feedback h1{
    background: linear-gradient(to right, #31ddaf, #09664f);
    color: #fff;
    padding: 20px;
    font-size: 36px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
    /* Allow vertical resizing */
    height: 180px;
}

button[type="submit"] {
    padding: 10px 20px ;
    font-size: 16px;
    background-color: #31ddaf;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #09664f;
    cursor: url('../images/cursor_round_2.svg'),auto ;
}

.submission-message {
    margin-top: 15px;
    font-size: 16px;
    color: #1dd1a1;
}