.feedback_form, .feedback_display{
    width: 100%;
    
}
.form_content{
    background-color: #dddddd;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 3%;
}

.form_content div{
    margin-bottom: 15px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.feedback_form h1,.feedback_display h1{
    background: linear-gradient(to right, #31ddaf, #09664f);
    color: #fff;
    padding: 20px;
    font-size: 36px;
    text-align: center;
}

label{
    width: 100px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
    /* Allow vertical resizing */
    height: 130px;
}

button {
    padding: 10px 20px ;
    font-size: 16px;
    background-color: #09664f;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: url('../images/cursor_round_2.svg'),auto ;
    transition: 0.5s;
}

button:hover {
    background-color: #31ddaf;
}

.feedback_display .comment-item{
    background-color: #dddddd;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedback_display .comment{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.feedback_display .comment .profile_picture{
    width: 10%;
}

.profile_picture img{
    border-radius: 10px;
    width: 80px;
}

.feedback_display .comment .name{
    width: 20%;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.feedback_display .comment .message{
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}


