.content_block  h1{
    background: linear-gradient(to right, #31ddaf, #09664f);
    color: #fff;
    padding: 20px;
    font-size: 36px;
    text-align: center;
}

.content_block p {
    width: 1250px;
    margin-left: auto;
    margin-Right: auto;

}

.content{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin-left: auto;
    margin-Right: auto;
}

.content_block .sub_title{
    padding: 5px;
}